<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinmi.react.printer">
    <!-- current -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    
    <!-- USB permissions and feature declarations -->
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.USB_ACCESSORY" />
    <uses-permission android:name="android.permission.USB_HOST" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>